@import "reset.less";
@import "flex.prefix.less";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.hidden {
	display: none !important;
}

div#page-content {
	.display(flex);
	height: 1%;
}

.desktop {
	.display(flex);
	.flex(1);
}
